<div >
  <%= link_to "Quản Lý Phim", admin_movies_path ,class: "btn btn-primary btn-lg" %>
  <%= link_to "Quản Lý Lịch chiếu", admin_schedules_path ,class: "btn btn-info btn-lg" %>
  <%= link_to "Quản Lý Vé", admin_booking_details_path,class: "btn btn-danger btn-lg" %>
</div>
