<h1><%= t "movies.showing" %></h1>

<%= render "shared/movie_collection", object: @movies_is_showing %>

<h1><%= t "movies.comming" %></h1>

<%= render "shared/movie_collection", object: @movies_is_comming %>
