<% provide :title, t("movies.edit.title") %>
<% provide :button_text, t("movies.edit.btn") %>

<h1><%= t "movies.edit.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
