@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;

/* universal */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

.gender {
  label {
    margin-right: 10px
  }
  margin-bottom : 10px
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
  color: $state-danger-text;
  }
}

/* movie */
.movie {
  margin-top: 10px;
  margin-right: 2em
}

/* movie_details */
.movie_details {
  display: flex;
  div, h1, h3 , button {
    margin-left: 20px;
  }
  button {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background: black;
    color: white
  }
}

.movies_manage {
  display: inline-block;
  div {
    a {
      margin-left: 20px;
      margin-top : 10px
    }
  }
}

/* theater */
.theater_details {
  display: flex;
  h1 {
    margin-left: 20px
  }
}

/* schedules */
.days {
  display: flex;
  margin-left: 100px;
  h3 {
    margin-left: 20px;
  }
}

.schedules {
  span {
    font-size : 30px;
  }
}

.schedules_time {
  margin-left : 30px;
  color: red
}

.seats_group {
  span {
    font-size: 32px;
    background: #3e515d;
    margin-left: 20px;
  }
}

.ticket_items {
  margin-top: 10px
}
